html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}
body {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

i {
  background-position: center;
  display: inline-block;
  height: 16px;
  width: 16px;
}

i.bold {
  background-image: url(/icons/type-bold.svg);
}

i.italic {
  background-image: url(/icons/type-italic.svg);
}

i.underline {
  background-image: url(/icons/type-underline.svg);
}

i.link {
  background-image: url(/icons/link.svg);
}

i.list {
  background-image: url(/icons/list-ol.svg);
}

i.list-ul {
  background-image: url(/icons/list-ul.svg);
}

i.h1 {
  background-image: url(/icons/type-h1.svg);
}

i.h2 {
  background-image: url(/icons/type-h2.svg);
}

i.question {
  background-image: url(/icons/type-question.svg);
}

i.copy {
  background-image: url(/icons/copy.svg);
}
