.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 4em;
}

.footer {
  border-top: 1px solid #808080;
  padding: 2rem 0;
}

.footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4em;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  row-gap: 32px;
}

.footerColumn {
  grid-column: span 6 / span 6;
}

.footerColumn div {
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 18px;
}

.footerColumn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerColumn li {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.footerColumn li a:hover {
  text-decoration-line: underline;
}

.footerDev {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  margin-right: 16px;
  padding: 32px 0 0;
}

.footerDev div {
  display: flex;
  gap: 6px;
}

.footerDev a {
  font-weight: 600;
}
.footerDev a:hover {
  text-decoration-line: underline;
}

.copyright {
  align-items: center;
  display: flex;
  gap: 2px;
  margin-left: 8px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.headerInfo {
  background-color: #808080;
  border-radius: 6px;
  height: 54px;
  margin-top: 3em;
  max-width: 700px;
  overflow: hidden;
  transition: height 250ms ease-in;
  width: 100%;
}

.headerInfo.active {
  height: 108px;
  transition: height 250ms ease-in;
}

.headerActions {
  display: flex;
  gap: 20px;
}

.headerInfoTitle {
  align-items: center;
  background-color: #3b3b3b;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}

.headerInfoContent {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 16px;
  justify-content: center;
  padding: 16px 12px;
}

.headerInfoContent div {
  align-items: center;
  display: flex;
  gap: 8px;
}

.headerInfoContent span {
  font-size: 12px;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  -webkit-transition: .4s;
  background-color: #808080;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  -webkit-transition: .4s;
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*MARKDOWN*/
.markdownWrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 3em;
  width: 100%;
}

.markdown48 {
  position: relative;
  width: 48%;
}

.markdown100 {
  width: 100%;
}

.markdownPreviewHeader {
  margin-bottom: 32px;
}

.markdownPreviewContent {
  padding: 8px;
}

.markdownActions {
  align-items: center;
  background-color: gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid white;
  border-bottom: none;
  display: flex;
  height: 32px;
  overflow: hidden;
}

.markdownActions div, 
.markdownActions a {
  cursor: pointer;
  padding: 4px 10px;
}
.markdownActions div:hover,
.markdownActions a:hover {
  background-color: rgb(88, 88, 88);
}
.markdownTime {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  text-align: center;
}
.markdownTitle {
  font-weight: 600;
  margin-bottom: 32px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.markdownImage {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.markdown48 textarea {
  resize: none;
}

.markdownPreview {
  border: 1px solid white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;
}

.markdownPreviewBadge {
  background-color: black;
  border-radius: 6px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  left: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
}

.previewBadge {
  display: none;
}

.downloadButton {
  cursor: pointer;
}

.downloadButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 32px 0 40px;
}

.downloadButtonWrapper span {
  font-size: 14px;
}

.downloadButton span {
  margin-right: 4px;
}

.fileName {
  position: relative;
}

.fileName::after {
  content: '.md';
  position: absolute;
  top: 3px;
  right: .5em;
  font-size: 14px;
  color: rgb(212, 212, 212);
}

.fileName span {
  position: absolute;
  top: -18px;
}

.copied {
  color: gold;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 38px;
}

@keyframes pulse {
	0%{
		opacity: 1;
	}
	33%{
		opacity: .5;
	}
	66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@media (max-width: 1100px) {
  .markdownWrapper {
    flex-direction: column;
    align-items: center;
  }

  .markdown48 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 4em 1em;
  }
  .title {
    font-size: 2rem;
  }
  .headerInfoTitle {
    padding: 0 12px;
  }
  .headerActions {
    display: flex;
    gap: 16px;
  }
  .previewBadge {
    font-size: 12px;
    padding: 2px 6px;
  }
  .headerInfoContent {
    flex-direction: column;
  }
  .headerInfoContent span {
    font-size: 14px;
    display: inline-block;
  }
  .headerInfoContent div {
    display: flex;
    justify-content: space-between;
    width: 246px;
  }
  .headerInfo.active {
    height: 184px;
  }
  .downloadButtonWrapper {
    margin-bottom: 60px;
  }
  .footer {
    padding-bottom: 0;
  }
  .footerWrapper {
    padding: 0 1em;
  }
  .footerDev {
    font-size: 10px;
    padding: 40px 0 24px;
  }
  .footerContent {
    gap: 32px;
  }
  .footerColumn {
    grid-column: span 9 / span 9;
  }
  .previewBadge {
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    position: relative;
    transition: 0.3s;
    width: 126px;
  }
  .previewBadge .animateBadge:after {
    content: '\01F534';
    position: absolute;
    top: 3px;
    animation: pulse 1700ms infinite;
    right: 4px;
  }
}
