.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 4em;
}

.footer {
  border-top: 1px solid var(--gold-70);
  padding: 2rem 0;
}

.footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4em;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  row-gap: 32px;
}

.footerColumn {
  grid-column: span 6 / span 6;
}

.footerTitle {
  color: var(--gold);
}

.footerColumn div {
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 18px;
}

.footerColumn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerColumn li {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.footerColumn li a:hover {
  text-decoration-line: underline;
}

.footerDev {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  margin-right: 16px;
  padding: 32px 0 0;
}

.footerDev div {
  display: flex;
  gap: 6px;
}

.footerDev a {
  font-weight: 600;
}
.footerDev a:hover {
  text-decoration-line: underline;
}

.copyright {
  align-items: center;
  display: flex;
  gap: 2px;
  margin-left: 8px;
}

.title {
  align-items: center;
  color: var(--gold);
  display: flex;
  font-size: 2.5rem;
  gap: 12px;
  justify-content: center;
  line-height: 1.15;
  margin: 0;
  text-align: center;
  text-align: center;
}

.titleBig {
  font-size: 4rem;
}

.headerInfo {
  background-color: var(--main);
  border-radius: 6px;
  height: 54px;
  margin-top: 3em;
  max-width: 700px;
  overflow: hidden;
  transition: height 250ms ease-in;
  width: 100%;
}

.headerInfoWrapper {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
  width: 100%;
  position: relative;
}

.headerInfoWrapperButton {
  position: absolute;
  top: 20px;
  right: 21%;
  cursor: pointer;
  font-size: 12px;
}

.headerInfoWrapperStructure {
  max-width: 700px;
  width: 100%;
  margin: 3em 0 0 -5.5%;
  position: absolute;
  top: -500%;
  opacity: 0;
  background-color: #808080;
  border-radius: 6px;
  transition: all 300ms ease-in-out;
  padding: 20px;
  
}

.headerInfoWrapperStructureAction {
  margin-top: 20px;
  cursor: pointer;
}

.headerInfoWrapperStructureActions {
  gap: 16px;
  display: flex;
  justify-content: flex-end;
}

.headerInfoWrapperStructure.open {
  transition: all 300ms ease-in-out;
  opacity: 1;
  top: 0;
}

.headerInfo.active {
  height: 118px;
  transition: height 250ms ease-in;
}

.headerActions {
  display: flex;
  gap: 20px;
}

.headerInfoTitle {
  align-items: center;
  background-color: var(--secondary);
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
}

.headerInfoContent {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 16px;
  justify-content: center;
  padding: 16px 12px;
}

.headerInfoContent div {
  align-items: center;
  display: flex;
  gap: 8px;
}

.headerInfoContent span {
  font-size: 12px;
}

.headerInfoContent input {
  border-radius: 20px;
  outline: none;
  height: 32px;
  padding: 0 12px;
  width: 160px;
  background-color: var(--primary);
  border: none;
}

.headerInfoContent input:read-only {
  background-color: var(--primary-disabled);
  border: 1px dashed var(--primary);
  color: #cac9c9;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.chevronDown {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 24px;
  cursor: pointer;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.chevronActive {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.stringType {
  border-radius: 20px;
  border: 1px solid;
  font-size: 12px;
  padding: 2px 8px;
  text-align: center;
  position: relative;
}

.slider {
  -webkit-transition: .4s;
  background-color: var(--gold-70);
  border: 1px solid black;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  -webkit-transition: .4s;
  background-color: white;
  border: 1px solid var(--main);
  border-radius: 50%;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--gold);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--gold);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/*MARKDOWN*/
.markdownWrapper {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 3em;
  width: 100%;
}

.markdown48 {
  position: relative;
  width: 48%;
}

.markdown100 {
  width: 100%;
  outline: none;
  border: 1px solid var(--gold);
  background-color: var(--primary);
  padding: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.markdownPreviewHeader {
  margin-bottom: 32px;
}

.markdownPreviewContent {
  padding: 8px;
}

.markdownActions {
  align-items: center;
  background-color: var(--secondary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid var(--gold);
  border-bottom: none;
  display: flex;
  height: 32px;
  overflow: hidden;
}

.markdownActions div, 
.markdownActions a {
  cursor: pointer;
  padding: 4px 10px;
}
.markdownActions div:hover,
.markdownActions a:hover {
  background-color: rgb(88, 88, 88);
}
.markdownTime {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  text-align: center;
}
.markdownTitle {
  font-weight: 600;
  margin-bottom: 32px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.markdownImage {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.markdown48 textarea {
  resize: none;
}

.markdownPreview {
  border: 1px solid var(--gold);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;
}

.markdownPreviewBadge {
  background-color: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--gold);
  color: white;
  font-size: 14px;
  left: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -15px;
  transform: translateX(-50%);
}

.previewBadge {
  display: none;
}

.downloadButton {
  align-items: center;
  background-color: var(--gold);
  border-radius: 20px;
  border: none;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  height: 40px;
  outline: none;
  padding: 4px 16px;
}

.downloadButton:hover {
  background-color: var(--gold-70);
}

.downloadButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 32px 0 40px;
}

.downloadButtonWrapper span {
  font-size: 14px;
}

.downloadButton span {
  margin-right: 4px;
}

.fileName {
  position: relative;
}

.downloadInputJson::after {
  content: '.json';
  position: absolute;
  top: 3px;
  right: .5em;
  font-size: 14px;
  color: rgb(212, 212, 212);
}

.downloadInputMd::after {
  color: #ffffff85;
  content: '.md';
  font-size: 14px;
  position: absolute;
  right: 1em;
  top: 9px;
}

.fileName span {
  position: absolute;
  top: -18px;
  left: 10px;
}

.fileName input {
  border: none;
  outline: none;
  height: 40px;
  padding: 2px 38px 2px 12px;
  border-radius: 20px;
  background-color: var(--primary);
  border: 2px solid var(--main);
}

.copied {
  color: gold;
  display: none;
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 38px;
}

/*JSON*/

.json {
  margin-top: 4em;
  width: 100%;
  min-height: calc(100vh - 300px);
}

.jsonContent {
  margin-bottom: 48px;
}

.jsonContent button {
  cursor: pointer;
}

.jsonContentButton {
  margin-top: 12px;
}

.jsonContentElems {
  grid-template-columns: repeat(3, fit-content(100%));
  display: grid;
  gap: 3em;
  justify-content: center;
}

.jsonContentElemsMultiple {
  grid-template-columns: repeat(2, fit-content(100%));
}

.jsonContentElemsSingle {
  grid-template-columns: repeat(1, fit-content(100%));
}

.jsonContentInner {
  padding: 30px 16px 20px;
  border-radius: 6px;
  border: 1px solid #fff;
  position: relative;
}

.jsonContentInnerAction {
  top: 4px;
  right: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.closeAction {
  padding: 2px;
  border-radius: 50%;
  font-size: 10px;
}

.closeActionArray {
  height: 20px;
  width: 20px;
}

.jsonContentString {
  height: 48px;
  padding: 0 12px;
}

.jsonContentDoubleString {
  display: flex;
  gap: 1em;
  height: 48px;
}

.jsonContentArray {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  max-width: 230px;
}

.jsonContentArrayElem {
  display: block;
  gap: .5em;
  margin-bottom: 10px;
}

.jsonContentArrayElem button {
  margin-left: 10px;
}

.inputLabelAbsolute {
  position: relative;
  margin: 2px 6px;
  top: 0;
  font-size: 12px;
}

.inputLabelAbsoluteSecondary {
  top: -20px;
}

.jsonNewFile {
  margin-top: 3em;
  height: 48px;
  width: 46px;
  overflow: hidden;
  position: relative;
}

.jsonNewFile button {
  cursor: pointer;
  height: 48px;
  position: absolute;
}

.jsonNewFileButton button {
  right: 1px;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.jsonNewFileButtonHidden button {
  right: -80px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/*MINIFIED*/

.minifiedHeader {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.minifiedHeaderAside {
  display: flex;
  gap: 1rem;
}

.fileColumn {
  display: flex;
  gap: 0.5rem;
}

.fileColumn div {
  position: relative;
}

.fileColumn span {
  position: absolute;
  top: -22px;
  left: 10px;
}

.fileInput {
  position: relative;
  border: none;
  outline: none;
  height: 40px;
  width: 180px;
  padding: 2px 38px 2px 12px;
  border-radius: 20px;
  background-color: var(--primary);
  border: 2px solid var(--main);
}

.fileInput::before {
  content: 'Column: ';
  position: absolute;
  top: -22px;
  left: 10px;
}

.minifiedHeader aside + aside {
  width: 50%;
}

.minifiedHeader aside code {
  align-items: center;
  background-color: var(--main-disabled);
  border: 1px solid var(--gold);
  border-radius: 20px;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 10px 12px;
  min-width: 200px;
}

.minifiedHeader aside code strong {
  color: var(--gold)
}

.minifiedTextarea {
  width: 100%;
  outline: none;
  border: 1px solid var(--gold);
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 1;
}

.dropZoneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background-color: var(--main-disabled);
  z-index: -1;
}

.dropZone {
  border: 1px dashed var(--gold);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes pulse {
	0%{
		opacity: 1;
	}
	33%{
		opacity: .5;
	}
	66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@media (max-width: 1100px) {
  .markdownWrapper {
    flex-direction: column;
    align-items: center;
  }
  .markdown48 {
    width: 100%;
  }
  .minifiedHeader {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 2em 1em;
  }
  .title {
    font-size: 1rem;
  }
  
  .titleBig {
    font-size: 2rem;
  }

  .headerInfoTitle {
    padding: 0 12px;
  }
  .headerActions {
    align-items: center;
    display: flex;
    gap: 16px;
  }
  .headerActions input {
    max-width: 200px;
  }
  .previewBadge {
    font-size: 12px;
    padding: 2px 6px;
  }
  .headerInfoContent {
    flex-direction: column;
  }
  .headerInfoContentJson {
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
  }
  .headerInfoContent span {
    font-size: 14px;
    display: inline-block;
  }
  .headerInfoContent div {
    display: flex;
    justify-content: space-between;
    width: 275px;
  }

  .headerInfoContent input {
    height: 28px;
  }

  .headerInfo.active {
    height: 202px;
  }
  .downloadButtonWrapper {
    margin-bottom: 60px;
  }
  
  .footer {
    padding-bottom: 0;
  }
  .footerWrapper {
    padding: 0 1em;
  }
  .footerDev {
    font-size: 10px;
    padding: 40px 0 24px;
  }
  .footerContent {
    gap: 32px;
  }
  .footerColumn {
    grid-column: span 9 / span 9;
  }
  .previewBadge {
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    position: relative;
    transition: 0.3s;
    width: 126px;
  }
  .previewBadge .animateBadge:after {
    content: '\01F534';
    position: absolute;
    top: 3px;
    animation: pulse 1700ms infinite;
    right: 4px;
  }

  .jsonContentElems {
    grid-template-columns: repeat(1, fit-content(100%));
  }
  .jsonContentString {
    width: 100%;
  }
  .jsonContentArrayElem {
    display: block;
  }
  .jsonContentDoubleString input {
    max-width: 150px;
  }

  .fileName input {
    height: 32px;
    width: 192px;
  }

  .downloadInputMd::after {
    top: 6px;
  }
  
  .downloadButton {
    height: 32px;
    padding: 2px 10px;
  }

  /*MINIFIED*/

  .minifiedHeader aside + aside {
    font-size: 10px;
    width: 100%;
  }

  .fileColumn {
    flex-direction: column;
    gap: 2.5rem;
  }
}
